{
    "presets": [
        ["env", {
            "modules": false,
            "loose": true,
            "useBuiltIns": false
        }],
        "stage-2"
    ],

    "plugins": [
        ["transform-runtime", {"polyfill": false, "regenerator": false }]
    ]
}