// =============================================================================
//   Content typography and styles
//  ============================================================================
%typography {
    color: $color-text;
    overflow-wrap: break-word;
    word-wrap: break-word;

    a {
        color: $color-link;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        margin-top: 0;
    }

    ol,
    ul {
        margin-top: 0.1em;
        padding-left: 1.5em;
        overflow: hidden;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-bottom: 1em;
        margin-left: auto;
    }

    table {
        margin-bottom: 2em;
        overflow-x: auto;
        &.table--large {
            width: 100%;
        }

        td,
        th {
            padding: 0.2em 0.5em;
            border-bottom: 1px solid $color-border;
            text-align: left;

            &.numeric {
                text-align: right;
            }
        }

        th {
            font-weight: bold;
            text-align: center;
        }
    }

    blockquote {
        margin-bottom: 2em;
        font-style: italic;
    }

    iframe,
    object,
    embed {
        width: 100%;
    }
}
