//fonts by type
$font-family-sans: Arial, Helvetica, FreeSans, "Liberation Sans", sans-serif;
$font-family-serif: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

//fonts by function
$font-family-base: $font-family-sans;
$font-family-h: $font-family-sans;
$font-family-script: $font-family-serif;
$font-family-typescript: $font-family-mono;

//font dimensions
$font-size-default: 12px;
$font-lheight-default: 18px;

$font-sizes: (
    xl: ceil($font-size-default * 2),
    l: ceil($font-size-default * 1.5),
    m: $font-size-default,
    s: ceil($font-size-default * 0.8),
    xs: ceil($font-size-default * 0.5)
);


$font-weights: (
    light: 300,
    regular: 400,
    semibold: 600,
    bold: 700
);
//font dimensions by function
$font-sizes-headings: (
    1: ceil($font-size-default * 2),
    2: ceil($font-size-default * 1.5),
    3: ceil($font-size-default * 1.4),
    4: ceil($font-size-default * 1.3),
    5: ceil($font-size-default * 1.2),
    6: ceil($font-size-default * 1.1)
);

$font-size-h: ceil($font-size-default * 2);
$font-size-text: $font-size-default;

$font-lheight-h: 1.2;
