// This file is included into the IE<9 specific CSS

$legacy-ie-support: true

// Convert rem to px
$rem-to-px-fallback: true


// Will not print media queries
$breakpoint-no-queries: true
// Will print No Query Fallbacks
$breakpoint-no-query-fallbacks: true