//global configs
$rem-to-px-fallback: false !default

@if variable-exists(legacy-ie-support) and $legacy-ie-support == true
  $supported-browsers: ("ie") !global
  $browser-minimum-versions: ("ie": "7") !global

//breakpoint configs
$breakpoint-to-ems: true

//use custom grid
$grid-enabled: true
