// This file is included into the IE<9 specific CSS

$jacket: legacy, ie8 '.lt-ie9';

//$legacy-ie-support: true DEPRECATED

// Convert rem to px
$rem-to-px-fallback: true;

//sass mq fallback
$mq-responsive: false;
$mq-static-breakpoint: lg;
