//global configs
$rem-to-px-fallback: false !default;

$jacket: modern !default;

//use custom grid
$grid-enabled: true;

$mq-responsive: true !default;

$mq-breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);
$layers: (
    behind: -1,
    below: -1,
    base: 0,
    above: 1,
    modal: 10
);
