{% extends 'templates/_default.nunj.html' %}

{% block main %}
<div class="l-flex l-flex--fluid">
    <div class="l-flex__row">
        <div class="l-flex__col l-flex__col--xs-12 l-flex__col--sm-6 l-flex__col--lg-4">
            <div style="background: #ccc">col 1</div>
        </div>
        <div class="l-flex__col l-flex__col--xs-12 l-flex__col--sm-6 l-flex__col--lg-4">
            <div style="background: #ccc">col 2</div>
        </div>
        <div class="l-flex__col l-flex__col--xs-12 l-flex__col--sm-6 l-flex__col--lg-4">
            <div style="background: #ccc">col 3</div>
        </div>
    </div>
</div>
{% endblock %}