{% extends 'templates/_default.njk' %}


{% block main %}

    {% include 'partials/_readme.html' %}

    <h3>{{ comments._comment }}</h3>
    <p>{{ faker.lorem.words(_.random(10, 20)) }}</p>

    {% markdown %}
    {% include '../fixtures/readme.md' %}
    {% endmarkdown %}

{% endblock %}