<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />

        <!-- mobile meta (hooray!) -->
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- ref:js /vendor/modernizr/modernizr.min.js -->
        <script src="/vendor/modernizr/modernizr.js"></script>
        <!-- endref -->

        <!-- build:css /stylesheets/application.css -->
        <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
        <!-- endbuild -->

    </head>
<!--[if lt IE 7]> <body class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <body class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <body class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <body> <!--<![endif]-->

<div id="test"></div> <!-- /#test -->
        <!-- build:js /javascripts/application.min.js -->
        <script src="/javascripts/base/plugins.js"></script>
        <script src="/javascripts/application.js"></script>
        <!-- endbuild -->

        <!-- ref:remove -->
        <% include partials/_weinre-script.html %>
        <% include partials/_livereload-script.html %>
       <!-- endref -->

    </body>
</html>
